/* change these */

@import url("https://use.typekit.net/biu4aud.css");
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */
@import url("https://use.typekit.net/biu4aud.css");

* {
    box-sizing: border-box;
}

/* THIS IS ALL meant for editing. You might want to do it differently,
name the variables differently,
use the fonts in other ways in the font hierarchy etc. */

/* change these */
:root {
    --bg-color: #81B9DB;
    --link-color: #84DAD1;
    --link-hover-color: #FFE580;
    --color-4: #7F7F7F;
    --color-5: #F7F8F9;
    --color-6: #000000;
    --color-7: #FFFFFF;

    --primary-font: sofia-pro, sans-serif;
    ;
    --secondary-font: sofia-pro, sans-serif;
    ;
    --main-text-color: #000;

    --white-space: 1rem;
}

button {
    transition: all 3s;
}

a {
    transition: all 3s;
}

button:hover {
    background-color: var(--link-color);
    transform: scale(1.2);
}

button:active {
    background-color: var(--bg-color);
}

a:hover {
    color: var(--link-hover-color);
    font-size: 4rem;
}

html {
    font-size: 100%;
    font-family: var(--primary-font);
}

img {
    max-width: 100%;
    height: auto;
}

header,
main,
footer {
    max-width: 1300px;
    margin: 0 auto;
    padding: calc(2 * var(--white-space));
}

.icons {
    margin-left: 35px;
}

.full-width {
    background: var(--bg-color);
    color: white;
    width: 100%;
}

.header-wrapper h1,
.icons {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -2px;
    padding-right: 0.75em;
    font-weight: bold;
    color: white;
}

.header-wrapper h2 {
    font-size: 1.6em;
    color: rgba(255, 255, 255, 0.95);
    font-weight: bold;
    margin: var(--white-space) 0;
}

.header-wrapper h3 {
    font-size: 1.2rem;
    font-style: italic;
}

.header-wrapper h4 {
    font-size: 0.8rem;
}

main {
    padding: calc(2 * var(--white-space));
}

section {
    margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
    font-style: italic;
    font-size: 1.3rem;
    color: #777;
    margin: 0.5rem 0;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

.swatches li {
    margin-right: 5vw;
    margin: 1em;
    height: 100px;
    width: 100px;
    border-radius: 50%
}

ul li:last-child {
    margin-right: 0;
}

.color-swatch-1 {
    background-color: var(--bg-color);
}

.color-swatch-2 {
    background-color: var(--link-color);
}

.color-swatch-3 {
    background-color: var(--link-hover-color);
}

.color-swatch-4 {
    background-color: var(--color-4);
}

.color-swatch-5 {
    background-color: var(--color-5);
}

.textures li {
    margin-right: 5vw;
    margin: 1em;
    height: 100px;
    width: 100px;
    border-radius: 50%
}

.texture-swatch-1 {
    background: url(../img/pw_maze_white.png) top left repeat;
}

.texture-swatch-2 {
    background: url(../img/subtle_grunge.png) top left repeat;
}

.texture-swatch-1 {
    background: url(../img/pw_maze_white.png) top left repeat;
}

.texture-swatch-3 {
    background: url(../img/white_paperboard.png) top left repeat;
}

.images ul {
    flex-direction: column;
    text-align: center;
}

.images li {
    display: block;
    /*margin-right: 5vw;*/
    margin-bottom: 1rem;
}


.icons {
    margin-left: 35px;
    display: flex;
    flex-wrap: wrap;
}

.icons li {
    margin-right: 5vw;
    margin: 1em;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    margin-bottom: 5px

}



button {
    padding: 1rem;
    border-radius: 2px;
    background: var(--link-color);
    text-align: center;
    text-decoration: none;
    font: normal 1.25em/1 var(--primary-font);
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
    transition: all 0.2s ease;
    cursor: pointer;
    margin: 0 1rem 1rem 0;
    border: none;

}

.secondary-button {
    background: var(--color-7);
    color: var(--color-6);
    border-style: solid;
    border-width: thin;
    border-color: var(--color-4);
}

.secondary-button:hover {
    background-color: var(--color-7);
    transform: scale(1.2);
}

button:focus,
button:active,
button:focus-within {
    outline: 0;
    border-radius: 4px;
}

.typography-main {
    color: var(--main-text-color);
}

.h1-sample {
    font-size: 2.4rem;
    font-weight: 700;
}

.h2-sample {
    font-family: var(--secondary-font);
    font-weight: 500;
    font-style: italic;
    font-size: 1.25rem;
}

p.typography-sample {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    max-width: 960px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a {
    font-family: var(--primary-font);
    color: var(--link-color);
    text-decoration: none;
    transition: width 2s, height 4s;
}

p[class*="font-details-"] {
    margin-top: 0.5rem;
    margin-bottom: calc(2 * var(--white-space));
    font-size: 0.75rem;
    font-family: var(--secondary-font);
    color: #6f6f6f;
}

.adjectives ul {
    font-size: 2rem;
    opacity: 0.5;
}

.adjectives ul {
    flex-direction: column;
}

footer {
    font-style: italic;
}

@media (min-width: 800px) {
    /*
  main {
    display: grid;
    grid-template-columns: 1fr 3fr;
      grid-template-rows: ".typography-main .swatches"
          ".adjectives .swatches"
          ".textures .buttons";
    grid-gap: 4rem;
  }
*/

    main {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: [col1-start] 2fr [col2-start] 1fr [col2-end];
        grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row3-end];
    }

    .typography-main {
        grid-column: col1-start / col2-start;
        grid-row: row1-start;
    }

    .adjectives {
        grid-column: col1-start / col2-start;
        grid-row: row2-start / row2-end;
    }

    .buttons {
        grid-column: col1-start / col2-start;
        grid-row: row3-start;
    }

    .swatches {
        grid-column: col2-start / col2-end;
        grid-row: row1-start;
    }

    .textures {
        grid-column: col2-start / col2-end;
        grid-row: row2-start;
    }

    /*
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: ".column";
    }

    .column {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: ".swatches .textures"
            ".textures .typography-main"
            ".buttons .adjectives";

    }
*/

    /*
    body {
        display: grid;
        grid-template-columns: 1fr 4fr 3fr;
        grid-template-areas: ".header .typography-main .swatches";
    }
*/

    body {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-areas: ".header-wrapper main"
            "footer footer";
    }

    .header-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "header"
            ".icons";
    }

    /*
  .swatches li {
    margin-right: 3%;
    height: 10vw;
    width: 20%;
  }
*/

    /*
  .textures li {
    height: 15vw;
  }
*/
}

@media (min-width: 900px) {
    .adjectives ul {
        flex-direction: row;
    }
}
